<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">NLSL GmbH</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link @GetActive("", NavLinkMatch.All)" Match="NavLinkMatch.All" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @GetActive("submit", NavLinkMatch.All)" Match="NavLinkMatch.All" href="/submit">Submit Parcel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @GetActive("report", NavLinkMatch.All)" Match="NavLinkMatch.All" href="/report">Report Hop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @GetActive("track", NavLinkMatch.All)" Match="NavLinkMatch.All" href="/search">Search</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {

    [Inject]
    NavigationManager NavigationManager
    {
        get;
        set;
    }

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += (s, e) => StateHasChanged();
    }

    bool IsActive(string href, NavLinkMatch navLinkMatch = NavLinkMatch.Prefix)
    {
        string relativePath = NavigationManager.ToBaseRelativePath(NavigationManager.Uri).ToLower();
        return navLinkMatch == NavLinkMatch.All ? relativePath == href.ToLower() : relativePath.StartsWith(href.ToLower());
    }

    string GetActive(string href, NavLinkMatch navLinkMatch = NavLinkMatch.Prefix)
    {
        return IsActive(href, navLinkMatch) ? "active" : "";
    }

}